<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <dynamic-form *ngIf="schameType != 'Array'" [config]="formConfig"></dynamic-form>
      <dynamic-list *ngIf="schameType == 'Array'" [config]="jsonConfig"></dynamic-list>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Select Example</label>
        <select class="form-control" name="schameType" [(ngModel)]="schameType" (ngModelChange)="changeSchame()">
          <option>Simple</option>
          <option>WithValidation</option>
          <option>Array</option>
        </select>
      </div>
      <div class="form-group">
        <label>Form</label>
        <div>
            <json-editor [(ngModel)]="jsonConfig" [isEdit]="true" (ngModelChange)="changeJSON($event)"></json-editor>            
        </div>
      </div>
    </div>
  </div>
</div>
